

<form method="post" action="create" class="mt-5">

    <div class="mb-3">
        <label for="" class="form-label">MenuId</label>
        <input type="text" class="form-control" id="MenuId" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="" class="form-label">MenuName</label>
        <input type="text" class="form-control" id="MenuName" aria-describedby="emailHelp">

    </div>

    <div class="mb-3">
        <label for="" class="form-label">MenuImage</label>
        <input type="email" class="form-control" id="MenuImage" aria-describedby="emailHelp">

    </div>
</form>